.| venv
.| pycache
venv
/venv
\venv
./venv
.\venv

__pycache__
/__pycache__
\__pycache__
./__pycache__
.\__pycache__
__pycache__

/pycache
\pycache
./pycache
.\pycache
__pycache__
*.pyc

/second_round/audio
/second_round/audio_archive
\second_round\audio
\second_round\audio_archive
/second_round/"Text Files"
\second_round\"Text Files"

notes.txt

/first_round_archive
\first_round_archive